<CascadingValue Value="PromptService">
    <MudDialog>
        <DialogContent>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 30px;">
                    <MudSelect @bind-Value="@_leftKey" T="Keys" Label="Left Keys" AnchorOrigin="Origin.BottomCenter" Disabled>
                    <MudSelectItem Value="@(Keys.Control | Keys.Shift)" />
                </MudSelect>

                <MudSelect @bind-Value="@_rightKey" T="Keys" Label="Right Keys" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var possibleKey in PossibleKeys)
                    {
                        <MudSelectItem Value="@possibleKey" />
                    }
                </MudSelect>
            </div>

            <div style="margin-top: 20px; margin-bottom: 20px;">
                <MudTextField @bind-Value="@_prompt" T="string" Label="Prompt" Variant="Variant.Outlined" Text="@_prompt" Lines="6" />
            </div>

        </DialogContent>
    
        <DialogActions>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" OnClick="Cancel" IconColor="Color.Primary" Size="Size.Large">Cancel</MudButton>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" OnClick="Submit" IconColor="Color.Secondary" Size="Size.Large">Save</MudButton>
        </DialogActions>
    </MudDialog>
</CascadingValue>