<CascadingValue Value="PromptService">
    <MudExpansionPanels>
        @foreach (var prompt in Prompts)
        {
            <MudExpansionPanel Text="@prompt.ToString()">
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 30px;">
                    <MudSelect @bind-Value="@prompt.LeftKey" T="Keys" Label="Left Keys" AnchorOrigin="Origin.BottomCenter" Disabled>
                     <MudSelectItem Value="@(Keys.Control | Keys.Shift)" />
                 </MudSelect>

                 <MudSelect @bind-Value="@prompt.RightKey" T="Keys" Label="Right Keys" AnchorOrigin="Origin.BottomCenter">
                     @foreach (var possibleKey in PossibleKeys)
                        {
                            <MudSelectItem Value="@possibleKey" />
                        }
                    </MudSelect>
                </div>

                <div style="margin-top: 20px; margin-bottom: 20px;">
                    <MudTextField @bind-Value="@prompt.Promt" T="string" Label="Prompt" Variant="Variant.Outlined" Text="@prompt.Promt" Lines="6" />
                </div>

                <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(async ()=> await ChangePromptAsync(prompt))">Change</MudButton>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
</CascadingValue>
